<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-lesson-heading"
        data-cy="LessonCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.lesson.home.createOrEditLabel"
      >
        Создать или отредактировать Lesson
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="jhipsterSampleApplicationApp.lesson.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let classDateRef = editForm.get('classDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_classDate" jhiTranslate="jhipsterSampleApplicationApp.lesson.classDate">Class Date</label>
          <div class="input-group">
            <input
              id="field_classDate"
              data-cy="classDate"
              type="text"
              class="form-control"
              name="classDate"
              ngbDatepicker
              #classDateDp="ngbDatepicker"
              formControlName="classDate"
            />
            <button type="button" class="btn btn-secondary" (click)="classDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (classDateRef.invalid && (classDateRef.dirty || classDateRef.touched)) {
            <div>
              @if (editForm.get('classDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
            </div>
          }
        </div>

        @let classNumberRef = editForm.get('classNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_classNumber" jhiTranslate="jhipsterSampleApplicationApp.lesson.classNumber"
            >Class Number</label
          >
          <input
            type="number"
            class="form-control"
            name="classNumber"
            id="field_classNumber"
            data-cy="classNumber"
            formControlName="classNumber"
          />
          @if (classNumberRef.invalid && (classNumberRef.dirty || classNumberRef.touched)) {
            <div>
              @if (editForm.get('classNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Это поле обязательно к заполнению.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('classNumber')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Это поле должно быть число.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_discipline" jhiTranslate="jhipsterSampleApplicationApp.lesson.discipline">Discipline</label>
          <select
            class="form-control"
            id="field_discipline"
            data-cy="discipline"
            name="discipline"
            formControlName="discipline"
            [compareWith]="compareDiscipline"
          >
            <option [ngValue]="null"></option>
            @for (disciplineOption of disciplinesSharedCollection; track $index) {
              <option [ngValue]="disciplineOption">{{ disciplineOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_teacher" jhiTranslate="jhipsterSampleApplicationApp.lesson.teacher">Teacher</label>
          <select
            class="form-control"
            id="field_teacher"
            data-cy="teacher"
            name="teacher"
            formControlName="teacher"
            [compareWith]="compareTeacher"
          >
            <option [ngValue]="null"></option>
            @for (teacherOption of teachersSharedCollection; track $index) {
              <option [ngValue]="teacherOption">{{ teacherOption.fname }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
