<div>
  <h2 id="page-heading" data-cy="StudentHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.student.home.title">Students</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.student.home.refreshListLabel">Обновить список</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-student"
        [routerLink]="['/student/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.student.home.createLabel">Создать новый Student</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (students().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jhipsterSampleApplicationApp.student.home.notFound">Students не найдено</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fname">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.student.fname">Fname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mname">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.student.mname">Mname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lname">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.student.lname">Lname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="group.name">
              <div class="d-flex">
                <span jhiTranslate="jhipsterSampleApplicationApp.student.group">Group</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (student of students(); track trackId(student)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/student', student.id, 'view']">{{ student.id }}</a>
              </td>
              <td>{{ student.fname }}</td>
              <td>{{ student.mname }}</td>
              <td>{{ student.lname }}</td>
              <td>
                @if (student.group) {
                  <div>
                    <a [routerLink]="['/group', student.group.id, 'view']">{{ student.group.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/student', student.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Просмотр</span>
                  </a>

                  <a [routerLink]="['/student', student.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Изменить</span>
                  </a>

                  <button type="submit" (click)="delete(student)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Удалить</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
